.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.company-usage-container {
  @apply grid grid-flow-row py-20 justify-center md:justify-around gap-20 md:gap-0 md:grid-flow-col min-w-full min-h-max bg-white md:px-16 md:py-24;
}

.company-usage-container img {
  @apply mx-auto;
}

.header-container {
  @apply fixed top-0 left-0 right-0 max-w-full mx-auto px-4 sm:px-6;
  background: #172327;
  z-index: 100000000;
}

.case-studies-container {
  @apply grid grid-flow-row md:grid-cols-2 md:grid-flow-col min-h-max w-full text-black md:py-24 md:px-5 bg-red-50;
}

.case-studies-inner-left {
  @apply px-16 !text-left flex flex-col gap-5 py-20 md:py-0;
}

.case-studies-inner-right {
  @apply px-16 md:pr-14 flex flex-col gap-5 pb-20 md:pb-0;
}